# Ignore configuration files and session tokens

.env
*.bak
*.pyc
session-*
*.ini
*.json
*.exe
__pycache__/
mkv-cleaner/Filtered
hosts-blocker/hosts.txt
tbh-decorator/tbh-save-backups/
manga-translator/Downloads/
manga-translator/tr/
