# Ignore configuration files and session tokens

.env
*.bak
*.pyc
*.ini
*.json
*.exe
session-*
__pycache__/
mkv-cleaner/Filtered
hosts-blocker/hosts.txt
tbh-decorator/tbh-save-backups/
manga-translator/input/
manga-translator/output/
